// trees save_load T WF A.slim : ^### (.+) ###$
//
// Test .trees file save/load (text, WF, sexual 'A')
//
initialize() {
	defineConstant("seed", getSeed());
	initializeSLiMOptions(dimensionality="xy");
	initializeTreeSeq();
	initializeSex("A");
	initializeMutationRate(1e-4);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeMutationType("m2", 0.5, "e", -0.01);
	initializeMutationType("m3", 0.5, "n", 0.01, 0.01);
	initializeGenomicElementType("g1", c(m1,m2,m3), c(1.0,0.1,0.01));
	initializeGenomicElement(g1, 0, 999);
	initializeRecombinationRate(1e-7);
	
	// spatial competition
	initializeInteractionType(1, "xy", reciprocal=T, maxDistance=0.3);
	i1.setInteractionFunction("n", 3.0, 0.1);
	
	// spatial mate choice
	initializeInteractionType(2, "xy", reciprocal=T, maxDistance=0.1);
	i2.setInteractionFunction("n", 1.0, 0.02);
}
1 late() {
	sim.addSubpop("p1", 300);
	sim.addSubpop("p2", 300);
	c(p1,p2).setSpatialBounds(c(0.0, 0.0, 1.05, 1.05));
	p1.setCloningRate(0.15);
	p2.setSexRatio(0.6);
	p1.setMigrationRates(p2, 0.01);
	p2.setMigrationRates(p1, 0.01);
	sim.subpopulations.individuals.setSpatialPosition(p1.pointUniform(600));
	sim.setValue("iter", 0);
}
2: early() {
	ind = sample(sim.subpopulations.individuals, 1);
	sim.treeSeqRememberIndividuals(ind);
}
2000 late() {
	catn("SAVING...");
	sim.treeSeqOutput("/tmp/slim_trees_test_text", _binary=F);
	setSeed(seed + 1);
}
3000 late() {
	s = sum(sim.mutationCounts(NULL) + sim.substitutions.size());
	catn("s == " + s);
	if (sim.getValue("iter") == 0)
	{
		catn("RESTARTING...");
		sim.setValue("s", s);
		sim.setValue("iter", 1);
		sim.readFromPopulationFile("/tmp/slim_trees_test_text");
		setSeed(seed + 1);
	}
	else
	{
		if (s == sim.getValue("s"))
			catn("### " + s + " ###");
		else
			catn("### NOT EQUAL ###");
	}
}
late() {
	i1.evaluate(sim.subpopulations);
	i2.evaluate(sim.subpopulations);
}
fitness(NULL) {
	// spatial competition
	totalStrength = i1.totalOfNeighborStrengths(individual);
	return 1.1 - totalStrength / p1.individualCount;
}
mateChoice() {
	// spatial mate choice
	return i2.strength(individual) * weights;
}
modifyChild() {
	// absorbing boundaries
	pos = parent1.spatialPosition + rnorm(2, 0, 0.02);
	if (!p1.pointInBounds(pos))
		return F;
	
	child.setSpatialPosition(pos);
	return T;
}

