// multiple muttypes.slim : ^Total mutation frequencies: (.*)$
//
// A test script incorporating multiple mutation types
//
initialize() {
   initializeMutationRate(5.8e-7);
   initializeMutationType("m1", 0.5, "f", 0.0);
   initializeMutationType("m2", 0.5, "f", 0.01);
   initializeMutationType("m3", 0.5, "f", -0.01);
   initializeGenomicElementType("g1", c(m1, m2, m3), c(1.0, 0.01, 1.0));
   initializeGenomicElement(g1, 0, 1e5-1);
   initializeRecombinationRate(6.32e-6);
}
1 { sim.addSubpop("p1", 1000); }
10000 late() { cat("\nTotal mutation frequencies: " + sum(sim.mutationFrequencies(NULL)) + "\n"); }
