// deleterious thrash 2.slim : ^Total mutation frequencies: (.*)$
//
//
initialize() {
    initializeMutationRate(0.2);
    initializeMutationType("m1", 0.5, "f", 0.0);
    initializeMutationType("m2", 0.5, "f", -0.1);
    initializeGenomicElementType("g1", c(m1,m2), c(0.9, 0.1));
    initializeGenomicElement(g1, 0, 9);
    initializeRecombinationRate(0.2);
}
1 {
    sim.addSubpop("p1", 4);
}
2000 late() { cat("\nTotal mutation frequencies: " + sum(sim.mutationFrequencies(NULL)) + "\n"); }
