// coalescence detection.slim : ^Coalescence generation: (.*)$
//
// Test that coalescence detection works and that coalescence occurs
//
initialize() {
	initializeTreeSeq(checkCoalescence=T);
	initializeMutationRate(0);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 1e8-1);
	initializeRecombinationRate(1e-8);
}
1 late() {
	sim.addSubpop("p1", 100);
}
1: late() {
	if (sim.treeSeqCoalesced())
	{
		catn("Coalescence generation: " + sim.generation);
		if (exists("community"))
			community.simulationFinished();
		else
			sim.simulationFinished();
	}
}
10000 late() {
	catn("Coalescence generation: FAILED");
}
